.quizIcon {
    padding-top: 2%;
    padding-left: 2%;
}


h1 {
    font-family: "Roboto", "Times New Roman", Times, serif;
    font-size:90px;
}



.hr{
    color: black;
background-color: black;
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
  }

  .containerDown {
    display: flex; /* or inline-flex */
    flex-direction: column;
  }