.quizIcon {
    padding-top: 2%;
    padding-left: 2%;
}

.quizIconCentered {
    padding: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

.center{
    display:flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: "Roboto";
    font-size:90px;
}


.hr{
    color: black;
background-color: black;
}

.containerAcross {
    display: flex; /* or inline-flex */
    flex-direction: row;
  }

  .containerDown {
    display: flex; /* or inline-flex */
    flex-direction: column;
  }